.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: auto;
}

.homepage {
  background-color: rgba(0, 0, 0, 0.801);
  margin: 0px;
  padding: 20px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(241, 230, 230, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
  padding-bottom: 50%;
}

.title {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 40px;
  padding: 40px;
  letter-spacing: 3px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.7),
    1px 2px 4px 0px rgba(255, 255, 255, 0.7),
    2px 4px 8px 0px rgba(255, 255, 255, 0.7),
    2px 4px 16px 0px rgba(255, 255, 255, 0.7);
}
